.estree-output,
.bash-input {
  max-height: 400px;
  outline: none;
  overflow-y: auto;
  resize: none;
  width: 100%;
}

.estree-output {
  border: 1px solid #ccc;
  font-size: 12px;
  margin-left: 5px;
}

.bash-input {
  margin-right: 5px;
}

.app {
  margin: 0 10px;
}

.grammar-link {
  margin-left: 2px;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
}

.json-tree-wrapper {
  background: rgb(255, 248, 255);
  border: 1px solid #ccc;
  height: 300px;
  margin: 20px 0 10px;
  overflow: auto;
}

footer {
  margin: 20px 0;
  text-align: center;
}

.search-box {
  border: 1px solid #ccc;
  margin: 15px 0 10px;
  width: 100%;
}

.cursor-pos {
  bottom: -15px;
  color: #777;
  font-size: 12px;
  left: 41px;
  position: absolute;
}

.cursor-pos-wrapper {
  position: relative;
}
