.estree-output,
.bash-input {
  resize: none;
  width: 100%;
  outline: none;
}

.estree-output {
  margin-left: 5px;
}

.bash-input {
  margin-right: 5px;
}

.app {
  margin: 0 10px;
}

.grammar-link {
  margin-left: 2px;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
}

.json-tree-wrapper {
  height: 300px;
  border: 1px solid #ccc;
  margin: 20px 0 10px;
  overflow: auto;
}
